.card {
  width: 300px;
  padding: 4rem;
  text-align: center;
  background: #2a2b38;
  border-radius: 8px;
  margin: 10rem auto;
}

.field {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: .5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  &::placeholder {
    color: #a0a0a0;
  }
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
}

.btn {
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  padding: 0.8em 1.5em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-link {
  color: #f5f5f5;
  display: block;
  font-size: .75em;
  margin-top: 0.5rem;
  text-decoration: none;
  transition: color .3s ease-out;
}

.error-message {
  color: #ff6b6b;
  font-size: 0.8em;
  margin-top: 0.5rem;
}

/* Efectos hover */
.btn:hover:not(:disabled) {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
  color: #ffeba7;
}
@media (max-width: 768px) {
  .card {
    width: calc(100% - 2rem); // Ancho completo menos márgenes
    max-width: 400px;
    margin: 8rem 1rem; // Márgenes laterales más pequeños en móviles
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .card {
    margin: 10rem -.1rem; // Márgenes aún más pequeños
    padding: 1rem;
  }
}

@media (max-width: 370px) {
  .card {
    margin: 10rem -.1rem; // Márgenes aún más pequeños
    padding: 1rem;
  }
}
